body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#board {
    width: 350px;
    height: 350px;
}

div#message-area {
    display: none;
}

div#information-area {
    display: none;
}
